<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time class="post-time" datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
    <span class="post-month"><%= date(post.date, 'M') %>月</span><br/>
    <span class="post-day"><%= date(post.date, 'DD') %></span>
  </time>
</a>