<div class="widget-wrap">
  <h3 class="widget-title"></h3>
  <div class="widget">
    <img class="avatar" src="<%= theme.avatar%>">
    <h2 class="author"><%= config.author %></h2>
    <h3 class="description"><%= config.description %></h3>
    <div class="count-box">
      <a href="/archives"><div><strong><%= site.posts.length %></strong><br>文章</div></a>
      <a href="/categories"><div><strong><%= site.categories.length %></strong><br>分类</div></a>
      <a href="/tags"><div><strong><%= site.tags.length %></strong><br>标签</div></a>
    </div>



    <div class="social-link">
      <% for (let item of theme.social){ %>
        <a class="hvr-bounce-in" href="<%= item.url %>" target="_blank" title="<%= item.name %>">
          <%= item.name %>
        </a>
      <% } %>
    </div>

    <div class="friend-link">
      <h2><%= theme.link_title %></h2>
      <% for (let item in theme.links){ %>
        <a class="hvr-bounce-in" href="<%= theme.links[item] %>" target="_blank" title="<%= item %>">
          <%= item %>
        </a>
      <% } %>
    </div>
  </div>
</div>
