<div class="widget-wrap mobile-header">
  <h3 class="widget-title"></h3>
  <div class="widget">
    <img class="avatar" src="<%= theme.avatar%>">
    <h2 class="author"><%= config.author %></h2>
    <h3 class="description"><%= config.description %></h3>
    <div class="count-box">
      <a href="/archives"><div><strong><%= site.posts.length %></strong><br>文章</div></a>
      <a href="/categories"><div><strong><%= site.categories.length %></strong><br>分类</div></a>
      <a href="/tags"><div><strong><%= site.tags.length %></strong><br>标签</div></a>
    </div>
    <ul class="blog-link">
     <% for (let item in theme.menu){ %>
          <a href="<%= theme.menu[item] %>" title="<%= item %>">
            <li><%= __(item) %></li>
          </a>
        <% } %>
    </ul>
  </div>
</div>
